@implements IDisposable

@inject NavigationManager NavigationManager

<MudAppBar Color="Color.Primary" Fixed="false" Elevation="0" Dense="true">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
    <MudSpacer />
    <AuthorizeView>
        <Authorized>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <MudIconButton Icon="@Icons.Material.Rounded.Logout" Color="Color.Inherit" Href="" ButtonType="ButtonType.Submit" />
            </form>
        </Authorized>
        <NotAuthorized>
            <MudIconButton Icon="@Icons.Material.Rounded.Login" Color="Color.Inherit" Href="Account/Login" />
        </NotAuthorized>
    </AuthorizeView>
</MudAppBar>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

