@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>
<div class="d-flex  justify-center">
    <h1 class="d-block text-danger">Access denied</h1>
</div>
<div class="d-flex justify-center">
    <br />
    <MudImage Style="d-block " Src="images/ad.jpg" Alt="Nice Try But No" Elevation="25" Class="rounded-lg" s />
</div>
