body, html {
    height: 100%;
    margin: 0;
    background-color: rgba(230 230 230 / 255);
}

.page-background-class {
    background-image: url(../images/t1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}