@page "/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<MudContainer Class="mt-16 text-background" MaxWidth="MaxWidth.Medium">
    <h1>Paroles atjaunošanas apstiprinājums</h1>
    <p>
        Tava parole ir atjaunota. Lūdzu <a href="Account/Login">spied šeit lai ielogotos</a>.
    </p>
</MudContainer>